{%load static%}

<head>
    <link rel="stylesheet"  type="text/css" href="{% static 'style/main.css' %}">
    <title>Customers</title>
</head>
<body>
{% block content %}
<div class="header-container">
  <div class="header">Customers Details</div>
  <div style="margin: 0px 0px 0px auto;">
    <div>
    <button  type="button" class="button" onclick="window.location.href='/';">Back</button>
<!--	<button  type="button" class="button" onclick="window.location.href='products';">Products</button>-->
    </div></div>
</div>
<div class="container">
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Mobile</th>
				<th>Address</th>
			</tr>
		</thead>
		<tbody>
             {% for customer in customers %}
			<tr>
                <td>{{customer.Id}}</td>
				<td>{{customer.first_name}}</td>
				<td>{{customer.last_name}}</td>
				<td>{{customer.contact}}</td>
				<td>{{customer.address}}</td>
			</tr>
            {% endfor %}
		</tbody>
	</table>
</div>

{% endblock%}
</body>